version: "3.5"

volumes:
  managementdb:
  prometheus_data: {}
  grafana_data: {}

networks:
  management:
    name: management

services:
  apigateway:
    image: sochakamil/management-gateway
    build: ./management-apigateway
    container_name: managementGateway
    env_file: ./.env
    environment:
      - SERVICE=docker-compose-prod_movies_1:8080
      - DB_SERVER=managementDb
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_MANAGEMENT_DB}
      - API_URI=managementapi:8080
      - APP_URI=managementapp:80
      - PROMETHEUS=prometheus:9090
      - GRAFANA=grafana:3000
    networks:
      management:
    ports:
      - "7080:8080"
    depends_on:
      - managementDb
    labels:
      pl.polsl.student.name: "management-gateway"
      pl.polsl.student.systembelongto.name: "management"

      pl.polsl.student.type: "infra"
      pl.polsl.student.type.infra.subtype: "apigateway"

  managementapp:
    image: sochakamil/management-app
    build: ./java-docker-api-broker-client
    container_name: managementapp
    networks:
      management:
    ports:
      - "90:80"
    labels:
      pl.polsl.student.name: "docker-management-client"
      pl.polsl.student.systembelongto.name: "management"

      pl.polsl.student.type: "dom"
      pl.polsl.student.type.dom.subtype: "ui"

  managementapi:
    image: sochakamil/management-api
    build: ./java-docker-api-broker
    # when using default connection over docker socket
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # working on both linux and windows
    env_file: ./.env
    environment:
      # working configuration to connect over tcp on windows
      # - PROTOCOL=tcp://
      # - HOST_ADDRESS=172.17.0.1
      # - HOST_ADDRESS=host.docker.internal windows
      # - HOST_PORT=2375
      - DOCKER_HOST=unix:///var/run/docker.sock
      - CERT_VERIFY=false
    networks:
      management:
    labels:
      pl.polsl.student.name: "management-api"
      pl.polsl.student.systembelongto.name: "management"

      pl.polsl.student.type: "infra"
      pl.polsl.student.type.infra.subtype: "ms"

  managementDb:
    image: postgres:alpine
    restart: always
    container_name: managementDb
    volumes:
      - managementdb:/var/lib/postgresql:rw
    networks:
      management:
    env_file: ./.env
    environment:
      - POSTGRES_DB=${POSTGRES_MANAGEMENT_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PGDATA=/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 1000M
    labels:
      pl.polsl.student.name: "management-database"
      pl.polsl.student.systembelongto.name: "management"

      pl.polsl.student.type: "infra"
      pl.polsl.student.type.infra.subtype: "db"

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - type: bind
        source: ./targets.json
        target: /etc/prometheus/targets.json
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      management:
    ports:
      - "9090:9090"

  node-exporter:
    image: prom/node-exporter
    networks:
      management:
    ports:
      - "9100:9100"

  grafana:
    image: grafana/grafana:latest
    networks:
      management:
    ports:
      - "5000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=pass
    volumes:
      - ./grafana.ini:/etc/grafana/grafana.ini
      # - ./datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
      - grafana_data:/var/lib/grafana
