spring:
  application:
    name: rating-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ratingdb
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 9091

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always

eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaulZone: http://localhost:8761/eureka/

feign:
  hystrix:
    enabled: true

swagger:
  title:  Rating Service
  description: Rating service with postgres database connection.
  license: License
  licenseUrl: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1
  contact:
    name: Kamil Socha
    url:
    email: kamisoc782@student.polsl.pl

info:
  app:
    name: ${spring.application.name}
    description: Service for retrieving information about ratings of movies.
    version: 0.1.0
  developer:
    name: Kamil Socha
    email: kamisoc782@student.polsl.pl

---
spring:
  profiles: docker
  cloud:
    loadbalancer:
      ribbon:
        enabled: false #??
  datasource:
    url: jdbc:postgresql://${DB_SERVER}:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

server:
  port: 8080

eureka:
  instance:
    hostname: rating-service
    prefer-ip-address: true
  client:
    fetch-registry: true
    service-url:
      defaultZone: http://discovery:8761/eureka/