.movie-item {
  /* width: 180px; */
  /* height: 320px; */
  /* width: 270px;
  height: 480px; */
  width: 216px;
  height: 384px;
}

.image-container {
  position: relative;
  transition: transform 0.5s ease;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 25%;
  transition: 0.5s ease;
  opacity: 0;
  font-size: 20px;
  /* padding: 20px; */
  text-align: center;
}
